<div>

 <h3> Enter News: <span> <input class="addnewsinput" type="text" #input> </span> </h3>
 <h3> No of votes: <span> <input class="addnewsinput2" type="number" #vote> </span> <span> <button class="text font2 tc1" (click)="addNewsEvent(input,vote)">Add News</button> </span></h3>

 <span> <button class="text font2 tc2" (click)="latestNews()" >Get Latest News</button> </span> <span> <button class="text font2 tc2" (click)="upVotedNews()"  >Get High rated News</button> </span>
 

</div>

<h1>{{heading}}</h1>
<div class="ntext" *ngFor="let item of data">

  <ul>
      <li>
          <h3>{{item.key}}</h3>
      </li>
  </ul>

</div>

<div *ngIf="latestNewsBool">

  <h1>Latest News</h1>

  <div class="ntext" *ngFor="let item of latestNewsData">

    <ul>
        <li>
            <h3>{{item.key}}</h3>
        </li>
    </ul>
  
  </div>

</div>

<div *ngIf="upVotedNewsBool">

  <h1>High Rated News</h1>

  <div class="ntext" *ngFor="let item of upVotedData">

    <ul>
        <li>
            <h3>{{item.key}}</h3>
        </li>
    </ul>
  
  </div>

</div>
