/* You can add global styles to this file, and also import other style files */


.addnewsinput{
    height: 25px;
    width: 600px;
  }

  .addnewsinput2{
    height: 25px;
    width: 90px;
  }

.text {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 20px;
}

.font2{
    font-size: 16px;
    cursor: pointer;
}

.tc1 {
    background-color: #4ec953;
    border: solid #4ec953;
    width:200px;
    border-radius: 20px;
    border-width: 10px 10px;
} 

.tc2 {
    background-color: #4ec1c9;
    border: solid #4ec1c9;
    width:300px;
    border-radius: 20px;
    border-width: 10px 10px;
} 